<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vehicles" href="/tabs/vehicles">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Vozila</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Statistika</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
